@import url('https://fonts.googleapis.com/css2?family=Sora:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
}

h1 {
  font-family: 'Sora', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  background: #1c1c1c;
  color: #fff;
}
